<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

	<targets>
		<target name="GeneralLog" xsi:type="File" fileName="c:\\Temp\\GeneralLog.txt" />
		<target name="RelevantLog" xsi:type="File" fileName="c:\\Temp\\RelevantLog.log"/>
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="MarketAPI.*" minlevel="Info" writeTo="GeneralLog" />
		<logger name="MarketAPI.Relevant" minlevel="Warn" writeTo="RelevantLog" />
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
	</rules>
</nlog>


